/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

$de-emphasized-text: #999;

body {
  color: #333;
}

.card.course-box {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;

  &.course-hover {
    background-color: rgb(250,250,250);
    a {
      text-decoration: underline;
    }

    .calculation-info a {
      color: #AAA;
    }

  }

  .card-body {
    padding: 1rem;
  }

  h5 {
    margin-bottom: 0;
  }

}

.card-title a {
  color: #666;
}

.card-title a:hover {
  color: #000;
}

.card-text.instructors {
  color: $de-emphasized-text;
}

.stat-container {
  display: flex;
  justify-content: flex-start;
}

.stat {
  margin-right: 1em;
  min-width: 4em;
  text-align: center;
}

.stat .num {
  font-size: 1.3em;
  line-height: 1.2em;
}

.desc {
  color: $de-emphasized-text;
}

.calculation-info a {
  color: rgba(0,0,0,0);
  font-size: 0.8em;
  padding-top: 0.5em;
}

.danger {
  color: rgba(255,0,0,0.5);
}

.all-clear {
  color: rgba(0,170,0,0.6);
}

.sub-stat-container {
  display: flex;

}

.sub-stat-descriptor {
  margin-right: 0.5em;
  color: #999;
}


@media (max-width: 992px)
{
  .sub-stat-container:first-of-type {
    padding-top: 0.5em;
  }

  .stat .sub-stat-container:first-of-type {
    padding-top: 0;
  }

  .stat-container:first-of-type {
    padding-top: 0.5em;
  }

}
